<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>부모글</h2>

<div align="center">

<table border="1">
<col width="200"><col width="500">
<tr>
	<th>작성자</th>
	<td><%=data[0].ID %></td>
</tr>

<tr>
	<th>제목</th>
	<td><%=data[0].TITLE %></td>
</tr>
<tr>
	<th>작성일</th>
	<td><%=data[0].WDATE %></td>
</tr>
<tr>
	<th>내용</th>
	<td>
	<textarea rows="10" cols="50" readonly="readmonly"><%=data[0].CONTENT %></textarea>
	</td>
</tr>
</table>
</div>

<h2>댓글</h2>
<div align="center">

<form action="answerAf" method="post">
<input type="hidden" name="seq" value="<%=data[0].SEQ %>">

<table border="1">
<col width="200"><col width="500">

<tr>
	<th>아이디</th>
	<td><%=user %></td>
</tr>

<tr>
	<th>제목</th>
	<td><input type="text" name="title" size="50"></td>
</tr>

<tr>
	<th>내용</th>
	<td><textarea rows="20" cols="50" name="content"></textarea></td>
</tr>

<tr>
	<td colspan="2" align="center">
		<input type="submit" value="댓글작성완료">
	</td>
</tr>

</table>
</form>
</div>
</body>
</html>